html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #DDD;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #1d0a67;
}

a:hover {
  color: #504091;
}

a:active {
  color: rgb(132, 0, 255);
}
